<ion-view view-title="Games">
  <ion-content>

    <ion-list>
       <ion-item ng-repeat="game in games.data | orderBy:'-lastMessage.timestamp'"
                 class="item-game item-remove-animate item-avatar item-icon-right"
                 type="item-text-wrap">
         <img ng-src="{{ game.picture }}">
         <h2>{{ game.name }}</h2>
         <p>{{ game.lastMessage.text }}</p>
         <span class="last-message-timestamp">{{ game.lastMessage.timestamp }}</span>
         <i class="icon ion-chevron-right icon-accessory"></i>
       </ion-item>
     </ion-list>


  </ion-content>
</ion-view>
