<ion-view class="gamesBody" view-title="Games">
  <ion-nav-buttons class="btn-group-vertical" side="right">
   <button ng-click="games.showNewGameModal()" class="button button-clear button-positive button-icon ion-ios-compose-outline"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
       <ion-item ng-repeat="game in games.data | orderBy:'-lastMessage.timestamp'" ng-if="game.isCreated"
                 class="item-game item-remove-animate item-avatar item-icon-right"
                 type="item-text-wrap" href="#/tab/games/{{ game._id }}">
         <h2>{{ game.name }}</h2>
         <h6>{{ game.num_tasks }}</h6>
         <h4 ng-if="game.owner">Created by: {{ game.owner }}</h4>

         <i class="icon ion-chevron-right icon-accessory"></i>

         <ion-option-button class="button-assertive" ng-click="games.remove(game)">
            Delete
          </ion-option-button>

       </ion-item>
     </ion-list>


  </ion-content>
</ion-view>
