<ion-modal-view ng-controller="NewGameCntrl as game">
  <ion-header-bar>
    <h1 class="title">New Game</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="game.hideNewGameModal()">Cancel</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <input type="text" name="newGameTitle" ng-model="game.newGameTitle" placeholder="Enter a title">
    <button type="button" name="button" ng-click="game.newGame(user._id)">Create</button>
  </ion-content>
</ion-modal-view>
