<ion-modal-view ng-controller="NewImageCntrl as image">
    <div>
      <ion-header-bar>
        <h1 class="title">Submit New Image</h1>
        <div class="buttons">
          <button ng-click="game.showNewImageModal()" class="button button-clear button-positive" >Cancel</button>
        </div>
      </ion-header-bar>
    </div>

<button ng-click="image.hideNewImageModal()" class="button button-clear button-positive button-icon ion-ios-compose-outline"></button>


  <ion-content>

    <div class="task-camera-button">

      <button ng-click="new-image.updatePicture()" class='button ion-ios-upload icon-accessory task-picture positive'>
       </button>

       <button ng-click="new-image.updatePicture()" class='button ion-ios-loop-strong icon-accessory task-picture positive'>
        </button>

//The following DIV is pseudoCode
        <div class="image-Box">
          <img ng-src"{{ THIS IS WHERE I WANT TO BIND THE INITIAL PHOTO }}" alt="" />
        </div>

    </div>






  </ion-content>

</ion-modal-view>
