<ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive" ng-cloak>

  <ion-tab title="Games" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/tab/games">
    <ion-nav-view name="tab-games"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Tasks" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/tab/tasks">
    <ion-nav-view name="tab-tasks"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Team" icon-on="ion-ios-team" icon-off="ion-ios-person-outline" href="#/tab/team">
    <ion-nav-view name="tab-team"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

</ion-tabs>
