<ion-view view-title="Tasks">
  <ion-content>

    <ion-list>
       <ion-item ng-repeat="task in tasks.data | orderBy:'-lastMessage.timestamp'"
                 class="item-task item-remove-animate item-avatar item-icon-right"
                 type="item-text-wrap">
         <img ng-src="{{ task.picture }}">
         <h2>{{ task.name }}</h2>
         <p>{{ task.lastMessage.text }}</p>
         <span class="last-message-timestamp">{{ task.lastMessage.timestamp }}</span>
         <i class="icon ion-chevron-right icon-accessory"></i>
       </ion-item>
     </ion-list>

  </ion-content>
</ion-view>
